/* #ribbon {
  position: relative;
  text-align: center;
}
#ribbon h6 {
  background-color: rgb(17, 130, 2);
  transform: rotate(-40deg);
  border: 1px solid rgb(154, 255, 203);
  color: #fff;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin-left: -150px;
} */
