@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

* {
  font-family: 'Dosis', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.upper-label {
  width: 100%;
  height: 150px;
  position: relative;
  background: #ddf1fd;
  padding: 20px 20px 20px 20px;
  margin: auto;
}
.green-tick {
  font-size: 18px;
  padding: 1px !important;
  display: flex;
  justify-content: space-between;
}
.completeMessageDivStyle {
  background-color: #00b8a3;
  border-radius: 15px;
  margin-bottom: 5px !important;
  margin-left: 5px !important;
}
.completeMessageDivStyle label {
  padding: 0.1px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.data-container {
  height: auto;
  width: auto;
}
.filtrationOption {
  position: relative;
  padding: 2px 2px !important;
  margin: 5px 5px 5px 5px !important;
  box-shadow: 10 20 0.5 0.1 rgb(46, 42, 42);
}
.subject-heading {
  font-weight: bold;
  margin-top: 10px;
}

.card-top {
  width: 100%;
  height: 3%;
  border-radius: 10px;
}
.task-heading {
  margin: 5px 3px 1px 4px !important;
  padding: 1px 1px !important;
  word-wrap: break-word;
}
.card-header {
  padding: 3px 3px !important;
  text-align: center;
  word-wrap: break-word;
  border-radius: 10px;
}
.task-description {
  margin: 1px 0.5px 1px 2px;
  padding: 2px 2px !important;
  height: 120px;
  overflow-x: auto;
  word-wrap: break-word;
  border-radius: 5px;
  border: 1.6px solid darkblue;
}
.container-tasks-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}
.task-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.note {
  border-radius: 10px;
  padding: 1rem;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.functional-buttons {
  padding: 1px !important;
  width: auto;
}
.edit-button,
.delete-button {
  display: inline;
  text-align: center;
  padding: 3px !important;
}

.edit-button:hover,
.delete-button:hover {
  transform: scale(1.3);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 10px 36px -10px hsla(0, 81%, 4%, 0.14),
    0 -8px 36px -8px hsla(0, 98%, 19%, 0.02);
}
.note:hover {
  transform: scale(1.05);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgb(46, 42, 42);
  font-weight: bold;
  color: white;
}
.footer-links {
  margin-top: 30px;
  display: inline-flex;
  padding: 10px;
}
.footer-links a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(206, 206, 206);
}

/* 
   Pagination CSS
*/
.pagination-bar {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.pagination-btn {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.pagination-btn a {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #00b8a3;
  cursor: pointer;
  color: #00b8a3;
}
.pagination-btn a:hover {
  color: #fff;
  background-color: #00b8a3;
}
.pagination-active a {
  color: #ffff;
  background-color: #fedfc7;
}
/* ** FORM ERROR MESSAGES CSS ** */
.formErrors {
  color: red;
  font-size: 12px;
  padding: 2px !important;
}
/* ** ERROR MESSAGES CSS ENDS HERE **  */

/* ** Conditional cards Styling starts here ** */
