.upper-label {
  width: 100%;
  height: 150px;
  position: relative;
  background: #f4fbff;
  padding: 20px 20px 20px 20px;
}

.subject-heading {
  font-weight: bold;
  margin-top: 10px;
}

.create-task-button {
  position: relative;
  border-radius: 40px;
  margin-top: 5px;
  padding: 4px;
}

.footer {
  position: absolute;
  background: rgb(46, 42, 42);
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
}
